*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    color: #444d4d;
}
header {
    background-color: #128d8c;
    display: flex;
    justify-content: space-between;
    
}
header .nav ul li {
    
    list-style: none;
    margin-right: 20px;
    display: flex;
    margin-top: 20px;
}
header .nav ul li a {
    color: white;
}
header .nav ul li a:hover{
    color:#128d8c;
    background-color: white;
    border-radius: 40px;
    padding: 3px;
    transition: all 0.3s ease;
}
header .logo {
    margin-left: 50px;
    color: #ffffff;
}

header .nav ul {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    
}
/* SOBRE */
.sobre {
    display:flex;
    justify-content: space-between;
}

.sobre .texto {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 600px;
    margin-top: 90px;
    margin-left: 100px;
    text-align: justify;
}
.sobre .texto h1 {
    margin-bottom: 20px;
}
.sobre .texto h3 {
    margin-bottom: 10px;
}
aside {
    margin-right: 100px;
    margin-top: 90px;
    color: black;
}

/* Especialidade */

.especialidade h1 {
    color: black;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
}
.especialidade .cursos .item .circo img {
    padding: 35px;
}
.especialidade .cursos .item .circo {
    border-radius: 50%;
    background-color: #128d8c;
    border: 6px solid #839e9e;
    width: 100px;
    height: 100px;
}
.especialidade .cursos .item p {
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}
.especialidade .bloco {
    padding: 40px;
}
hr {
    width: 300px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 39%;
}
.bloco .cursos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* footer */
footer {
    color: black;
    padding: 0 40px 0 40px;
}
footer .cop {
    text-align: center;
}